body{
  font-family: "Orbitron", sans-serif;
  margin: 0;
}
frames-container {
  max-width: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 40% 40%;
}

title-wrapper {
  grid-row-start: 1;
  grid-column: 1 / span 2;
  justify-self: center;
  align-self: center;
  max-width: 50%;
  letter-spacing: 3px;
  font-size: x-large;
  max-height: 20%;
}

frames-container img{
  height: 80%;
  place-self: center;
  transition: all .2s ease-in-out;
}

frames-container img:hover{
  transform: scale(1.2);
}
frames-container img:nth-child(even){
  justify-self: end;
  padding-right: 5%;
}
frames-container img:nth-child(odd){
  justify-self: start;
  padding-left: 5%;
}
