html,
body {
    height: 100%;
    margin: 0;
}

.sidenav {
    position: fixed;
    width: 280px;
    height: 100%;
    background-color: #1e2027;
}

.sidenav .main-buttons {
    list-style-type: none;
    margin: 64px 0;
    padding: 0;
    color: #fff;
}

.sidenav .main-buttons li {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.sidenav .main-buttons>li {
    padding: 16px 52px;
}

.sidenav .main-buttons>li .fa {
    position: absolute;
    left: 12px;
    color: #414655;
}

.sidenav .main-buttons>li:hover,
.sidenav .main-buttons>li:active,
.sidenav .main-buttons>li:focus {
    background-color: #292c35;
    cursor: pointer;
}

.sidenav .main-buttons>li:hover .hidden,
.sidenav .main-buttons>li:active .hidden,
.sidenav .main-buttons>li:focus .hidden {
    width: 228px;
}

.hidden {
    width: 0;
    height: 100%;
    padding: 64px 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #292c35;
}

.hidden li {
    padding: 16px 24px;
}

.hidden li:hover,
.hidden li:active,
.hidden li:focus {
    background-color: #323541;
}

content-container {
    position: relative;
    top: 0px;
    left: 280px;
    height: 100%;
    width: calc(100vw - 280px);
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

dataset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
}

method,
slideshow-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

buttons-container {
    align-self: flex-end;
    margin-right: 10%;
}

a {
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
}

a:hover {
    background-color: #ddd;
    color: black;
}

div {
    height: 30vh;
    width: 60vw;
}